@using Proyecto_Grupal_PrograWeb2.Models;
@{
    Layout = null;
    //string controlador = ViewContext.RouteData.Values["controller"].ToString().ToLower();

    //usuario admin = new usuario().Obtener(SessionHelper.GetUser());
}

<!DOCTYPE html>
<html>
<head>
    <title>Pet Shop</title>
    <meta charset="iso-8859-1">

    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]><link href="css/ie6.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if IE 7]><link href="css/ie7.css" rel="stylesheet" type="text/css"><![endif]-->
    <style>
        .user-profile {
            margin-left: auto;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
        }

            .user-profile img {
                border-radius: 50%;
                margin-right: 5px;
            }

            .user-profile span {
                font-weight: bold;
            }

        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            list-style: none;
            padding: 0;
            z-index: 1;
        }

            .dropdown-menu li {
                padding: 8px 15px;
                cursor: pointer;
            }

                .dropdown-menu li:hover {
                    background-color: #f5f5f5;
                }
    </style>
</head>
<body>


    <div id="header">
        <a href="#" id="logo"><img src="~/assets\img\logohua.png" width="240" height="114" alt="" style="z-index: 3;"></a>
        <ul class="navigation">
            <li class="active"><a href="/home/">Home</a></li>
            <li><a href="petmart.html">Juegos</a></li>
            <li><a href="/Animales/">Animales</a></li>
            <li><a href="/Nosotros/">Nosotros</a></li>
            <li><a href="/Contacto/">Contacto</a></li>

            <!-- Nuevo elemento resaltado para nombre y foto de perfil -->
            @*<a href="/ReporteUsuario/" id="userProfile">
            <li class="user-profile">
                <img src="~/Uploads/usuario3.jpg" alt="Foto de perfil" width="40" height="40">
                <span>@admin.nombre</span>
            </li>
            </a>*@
        </ul>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var userProfile = document.getElementById('userProfile');
            var dropdownMenu = document.getElementById('dropdownMenu');

            // Muestra u oculta el menú desplegable al hacer clic en el perfil
            userProfile.addEventListener('click', function (event) {
                event.stopPropagation();
                dropdownMenu.style.display = dropdownMenu.style.display === 'none' ? 'block' : 'none';
            });

            // Oculta el menú desplegable si se hace clic fuera de él
            document.addEventListener('click', function (event) {
                var isClickInside = userProfile.contains(event.target) || dropdownMenu.contains(event.target);
                if (!isClickInside) {
                    dropdownMenu.style.display = 'none';
                }
            });
        });


    </script>



    <div id="body">
        <br />
        <br />
        @RenderBody()
        <div class="featured">

            <ul>
                <li><a href="~/GameSopaLetras/"><img src="~/assets/img/sopaaniaml.png" width="300" height="90" alt=""></a></li>
                <li><a href="~/Puzzle/Puzzle1"><img src="~/assets/img/pzulenaimla.png" width="300" height="90" alt=""></a></li>
                <li class="last"><a href="~/Preguntas/"><img src="~/assets/img/zuinaiml.png" width="300" height="90" alt=""></a></li>

            </ul>
        </div>


        <div id="footer">

            <div id="footnote">
                <div class="section">Copyright &copy; 2012 <a href="#">Company Name</a> All rights reserved | Website Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">freewebsitetemplates.com</a></div>
            </div>
        </div>
    </div>


</body>
</html>





