
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    #content {
        width: 80%;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .animal-details {
        text-align: center;
    }

        .animal-details img {
            max-width: 100%;
            border-radius: 10px;
            margin-top: 20px;
        }

    h2 {
        margin-top: 20px;
    }

    p {
        margin-top: 10px;
    }
</style>
<div id="content">
    <div class="animal-details">

        <h2 id="animalTitle">Animal Title</h2>
        <p id="animalDescription">Animal Description</p>
        <p id="animalCuriousFact">Dato Curioso</p>
        <p id="animalDiet">Dieta: Carnivore</p>
        <p id="animalHabitat">Habitat: Forests and Jungles</p>
        <img src="" alt="Animal Image" id="animalImage">
    </div>
</div>

<script>
    var jsonString = '@Html.Raw(ViewBag.JsonData)';
    var jsonData = JSON.parse(jsonString);

    // Obtener el primer elemento del JSON (asumiendo que es un solo animal)
    var animal = jsonData[0];

    // Actualizar los elementos HTML con la información del JSON
    document.getElementById('animalImage').src = animal.image_url;
    document.getElementById('animalTitle').innerText = animal.name;
    document.getElementById('animalDescription').innerText = animal.description;
    document.getElementById('animalCuriousFact').innerText = 'Dato Curioso: ' + animal.curious_fact;
    document.getElementById('animalDiet').innerText = 'Dieta: ' + animal.diet;
    document.getElementById('animalHabitat').innerText = 'Habitat: ' + animal.habitat;
</script>