
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/assetslogin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="~/assetslogin/fonts/fontawesome-all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--ResponseModel-->
    <script src="~/assetslogin/js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <style>
    .divider:after,
    .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    }
    .h-custom {
    height: calc(100% - 73px);
    align-content:center;
    }
    @*@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
    }*@

        .bg-green {
            background-color: #4BE810;
        }
    </style>


    <section class="vh-100">
        <div class="container-fluid h-custom">
            <center>
                <div class="row d-flex justify-content-center align-items-center h-100">
                    @*<div class="col-md-9 col-lg-6 col-xl-5">
                            <img src="~/Img/logo_Glorieta.png" class="img-fluid" alt="Sample image">
                        </div>*@
                    @using (Html.BeginForm("Validar", "Login", FormMethod.Post))
                    {
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                            <div class="divider d-flex align-items-center my-4">
                                <img src="~/Uploads/LogoZooHuachipa.png" class="img-fluid" alt="Sample image">
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input name="Usuario" type="text" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Ingrese su Usuario" />
                                <label class="form-label" for="form3Example3">Usuario</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <input name="Password" type="text" id="form3Example4" class="form-control form-control-lg"
                                       placeholder="Ingrese su Password" />
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>
                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button data-ajax="true" type="button" class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                    Login
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </center>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-green">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Copyright © 2023. All rights reserved.
            </div>
            <!-- Copyright -->
            <!-- Right -->
            <div>
                <a href="https://www.facebook.com/zoohuachipa/?locale=es_LA" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/pzhuachipa" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                @*<a href="#!" class="text-white">
                        <i class="fab fa-linkedin-in"></i>
                    </a>*@
            </div>
            <!-- Right -->
        </div>
    </section>
    @*@RenderBody()*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/signalr.js/2.4.1/jquery.signalR.min.js"></script>*@
    <script src="~/assetslogin/js/chart.min.js"></script>
    <script src="~/assetslogin/js/bs-init.js"></script>
    <script src="~/assetslogin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assetslogin/js/theme.js"></script>
    <script src="~/assetslogin/js/ini.js"></script>
    <script src="~/assetslogin/js/jquery.form.js"></script>
    <script src="~/assetslogin/js/jquery.validate.min.js"></script>
    <script src="~/assetslogin/js/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="~/signalr/hubs"></script>*@
</body>
</html>