
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="content">
        <div class="about">
            <h2>SOBRE NOSOTROS</h2>
            <ul>
                <li>
                    <h2><a href="#">Bienvenido a Huachipa, un fascinante oasis de biodiversidad y educación en el corazón del Perú.</a></h2>
                    <p>  En nuestro zoológico, nos dedicamos a ofrecer a nuestros visitantes una experiencia única, donde la naturaleza cobra vida y la conservación se convierte en una inspiración. </p>
                </li>
                <li>
                    <h2><a href="#">Con más de 500 de especies de animales procedentes de todos los rincones del mundo, Huachipa es un lugar donde puedes sumergirte en la diversidad de la vida salvaje.</a></h2>
                    <p> Desde majestuosos felinos hasta adorables criaturas acuáticas, cada encuentro es una oportunidad para aprender y apreciar la belleza y la importancia de la fauna global. </p>
                </li>
                <li>
                    <h2><a href="#">En Huachipa nos comprometemos con la conservación de especies en peligro de extinción y la educación ambiental</a></h2>
                    <p> Nuestro equipo de expertos trabaja incansablemente para garantizar el bienestar de nuestros residentes peludos, emplumados y escamosos, y para fomentar la comprensión y el respeto hacia la vida silvestre. </p>
                </li>
                <li>
                    <h2><a href="#">Únete a nosotros en esta emocionante aventura, donde la magia de la naturaleza se encuentra con el compromiso de preservarla para las generaciones futuras.l</a></h2>
                    <p>  Huachipa: donde la educación se encuentra con la diversión, y la conservación se convierte en una experiencia inolvidable. ¡Te invitamos a explorar, aprender y conectarte con el mundo animal como nunca antes! </p>
                </li>
            </ul>
        </div>
    </div>
    
</div>

