
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .soup-container {
            padding: 20px; /* Espaciado interno de la sección principal */
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            min-height: 40vh;
        }

        .btn-info {
            margin-bottom: 10px;
            text-align: center;
            font-family: 'Lato';
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 600;
            font-size: 1.5em;
            color: #000;
        }


        form {
            display: inline-block; /* Alinear en el centro */
            margin-top: 20px; /* Espacio superior */
        }

        button {
            width: 150px; /* Ancho del botón */
            height: 50px; /* Altura del botón */
            margin: 10px; /* Espacio entre botones */
            font-weight: bold; /* Texto en negrita */
            color: #000; /* Texto negro */
        }

            button[value="Facil"] {
                background-color: #00FF00; /* Fondo verde para el botón FACIL */
            }

            button[value="Normal"] {
                background-color: #FFFF00; /* Fondo amarillo para el botón NORMAL */
            }

            button[value="Dificil"] {
                background-color: #FF0000; /* Fondo rojo para el botón DIFICIL */
            }
    </style>
</head>

<div class="soup-container">
    <h2 class="btn-info">Selecciona un nivel de dificultad Para el Juego Sopa de Letras</h2>

    <form method="post" action="@Url.Action("SeleccionarNivel", "GameSopaLetras")">
        <br />
        <button type="submit" name="nivel" value="Facil" class="boton-facil">Fácil</button>
        <button type="submit" name="nivel" value="Normal" class="boton-normal">Normal</button>
        <button type="submit" name="nivel" value="Dificil" class="boton-dificil">Difícil</button>
    </form>
</div>


