
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared3/_Layout.cshtml";
}

<div id="body">
    <div id="content">
        <div class="content">
            <h2>Contactanos</h2>
            <div>
                <p> Estamos aquí para responder a tus preguntas y brindarte toda la información que necesitas. Si deseas ponerte en contacto con nosotros, no dudes en hacerlo a través de los siguientes medios: </p>
            </div>
            <ul class="connect">
                <li>
                    <h2>Customer Sales and Serevice</h2>
                    <p> <span>Correo: <a href="#">huachipa@hotmail.com</a></span> <span>Llama o Envia correo para poder orientarle acerca de nuestro zoologico.</span> </p>
                    <p> <span>Celular: 954320179</span> <span>Movil: 954235464 </span> </p>
                </li>
                <li>
                    <h2>Horario de Atemcion</h2>
                    <p> <span>Luneas a Viernes 9:00 am - 7:00 pm</span> <span>Cerrados el Sabado y Domingo</span> </p>
                </li>
            </ul>
        </div>

    </div>
</div>

