@using Proyecto_Grupal_PrograWeb2.Models;
@{
    Layout = null;
    string controlador = ViewContext.RouteData.Values["controller"].ToString().ToLower();

    admin admin = new admin().Obtener(SessionHelper.GetUser());
}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio-Administracion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="~/assets/intranet/css/main.css" rel="stylesheet" />
    <!--Agregamos DataTables-->
    <link href="~/assets/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/assets/DataTables/DataTables-1.13.7/css/dataTables.semanticui.min.css" rel="stylesheet" />
    <link href="~/assets/DataTables/DataTables-1.13.7/css/dataTables.foundation.min.css" rel="stylesheet" />
</head>
<body>
    <!-- SideBar -->
    <section class="full-box cover dashboard-sideBar bg-success">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard "></div>
        <div class="full-box dashboard-sideBar-ct">
            <!--SideBar Title -->
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                Zoologico Huachipa <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <!-- SideBar User info -->
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <img src="~/Uploads/@admin.avatar" alt="UserIcon">
                    <br />
                    <figcaption class="text-center text-titles">@admin.user</figcaption>
                </figure>
                <ul class="full-box list-unstyled text-center">
                    <li>
                        <a href="~/Perfil/index">
                            <i class="zmdi zmdi-settings"></i>
                        </a>
                    </li>
                    <li>
                        <a href="~/Login/Index2" class="btn-exit-system">
                            <i class="zmdi zmdi-power"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- SideBar Menu -->
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                @*<li>
                    <a href="~/Home/IndexReporteTotal">
                        <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Dashboard
                    </a>
                </li>*@
                <li>
                    <a href="#!" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-case zmdi-hc-fw"></i> Administracion <i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">
                        @*<li>
                                <a href="period.html"><i class="zmdi zmdi-timer zmdi-hc-fw"></i> Period</a>
                            </li>*@
                        <li>
                            <a href="/Usuario/Index"><i class="zmdi zmdi-book zmdi-hc-fw"></i>Usuarios</a>
                        </li>
                        @*<li>
                            <a href="/Usuario/Index"><i class="zmdi zmdi-book zmdi-hc-fw"></i>Administradores</a>
                        </li>*@
                        <li>
                            <a href="~/ReporteUsuario/IndexReporteTotal"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Score</a>
                        </li>
                        @*<li>
                                <a href="salon.html"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Salon</a>
                            </li>*@
                    </ul>
                </li>
                @*<li>
                    <a href="#!" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Administradores <i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                </li>*@
                @*<li>
                    <a href="#!" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-card zmdi-hc-fw"></i> Payments <i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">
                        <li>
                            <a href="registration.html"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Registration</a>
                        </li>
                        <li>
                            <a href="payments.html"><i class="zmdi zmdi-money zmdi-hc-fw"></i> Payments</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-shield-security zmdi-hc-fw"></i> Settings School <i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">
                        <li>
                            <a href="school.html"><i class="zmdi zmdi-balance zmdi-hc-fw"></i> School Data</a>
                        </li>
                    </ul>
                </li>*@
            </ul>
        </div>
    </section>

    <!-- Content page-->
    <section class="full-box dashboard-contentPage">
        <!-- NavBar -->
        <nav class="full-box dashboard-Navbar">
            <ul class="full-box list-unstyled text-right">
                <li class="pull-left">
                    <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                </li>
                <li>
                    <a href="#!" class="btn-Notifications-area">
                        <i class="zmdi zmdi-notifications-none"></i>
                        <span class="badge">7</span>
                    </a>
                </li>
                @*<li>
                        <a href="#!" class="btn-search">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="btn-modal-help">
                            <i class="zmdi zmdi-help-outline"></i>
                        </a>
                    </li>*@
            </ul>
        </nav>
        <!-- Content page -->
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-titles">Programa Web <small> EduZoo Huachipa</small></h1>
            </div>
        </div>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>

    <!-- Notifications area -->
    <section class="full-box Notifications-area">
        <div class="full-box Notifications-bg btn-Notifications-area"></div>
        <div class="full-box Notifications-body">
            <div class="Notifications-body-title text-titles text-center">
                Notifications <i class="zmdi zmdi-close btn-Notifications-area"></i>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-alert-triangle"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">17m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-alert-octagon"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">15m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-help"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">10m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-info"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">8m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--====== Scripts -->
    <script src="~/assets/intranet/js/jquery-3.1.1.min.js"></script>
    <script src="~/assets/intranet/js/sweetalert2.min.js"></script>
    <script src="~/assets/intranet/js/bootstrap.min.js"></script>
    <script src="~/assets/intranet/js/material.min.js"></script>
    <script src="~/assets/intranet/js/ripples.min.js"></script>
    <script src="~/assets/intranet/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/assets/intranet/js/main.js"></script>
    <!--ResnposbeModel-->
    <script src="~/assetslogin/js/ini.js"></script>
    <script src="~/assetslogin/js/jquery.form.js"></script>
    <script src="~/assetslogin/js/jquery.validate.min.js"></script>
    <script src="~/assetslogin/js/jquery.validate.unobtrusive.min.js"></script>


    <!--DataTables-->
    <script src="~/assets/DataTables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            new DataTable('#vertical', {
                paging: false,
                scrollCollapse: true,
                scrollY: '200px'
            });

            new DataTable('#horizontal', {
                scrollX: true
            });

            $("#DatatableP").DataTable({

                "aLengthMenu": [[3, 5, 10, 25, 50, 100, 200, -1], [3, 5, 10, 25, 50, 100, 200, "Todos"]],
                "bDestroy": true,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ning?n dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "?ltimo",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });

            $('#ejemplo2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todos"]]
            });

        });
    </script>
</body>
</html>
