
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div id="content">
        <div class="content">
            <h2 class="align-content-xxl-center">Juegos</h2>
            <ul class="connect">
                <li><a href="~/GameSopaLetras/"><img src="~/assets/img/sopaaniaml.png" width="300" height="90" alt=""></a></li>
                <li><a href="~/Puzzle/IndexPuzzle"><img src="~/assets/img/pzulenaimla.png" width="300" height="90" alt=""></a></li>
                <li class="last"><a href="~/Preguntas/"><img src="~/assets/img/zuinaiml.png" width="300" height="90" alt=""></a></li>

            </ul>
        </div>

    </div>
</div>

